<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3> <%= 1+2 %> </h3>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consequatur tenetur, 
    blanditiis consectetur eaque ex voluptate pariatur in
    assumenda tempora sit quisquam repellendus atque fuga eius inventore aut ipsa odit?
    Obcaecati, distinctio neque. Quae ratione porro voluptates dignissimos obcaecati maiores
    ipsum quo ad, cupiditate voluptate dolores repellat odio eligendi neque quibusdam vero.
    Laborum, cupiditate rerum? Animi praesentium nihil ducimus expedita!
    Quisquam consequuntur tempora voluptatem repellat, omnis saepe iusto totam nulla, unde 
    iure aliquam accusantium quidem. Ut autem magni obcaecati, ea neque illum sit accusamus fugit
    quos esse facere maiores? Voluptatum!
    </p>
    <button>Click me !</button>
</body>
</html>